# Entornos virtuales
venv/
.env

# Datos (No subimos el CSV gigante a GitHub)
data/raw/*.csv

# Jupyter Notebooks
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Docker overrides (local settings)
docker-compose.override.yml

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
